h1 {
  margin-top: 10px;
  color: blue;
  font-size: 50px;
  display: block;
  width: 250px;
  height: 200px;
  background-color: red;
}

h2 {
  color: blue;
}

.block {
  background-color: black;
}

.block h3 {
  color: green;
}

.block_color {
  background-color: orange;
}

.block_color button {
  display: block;
  width: 250px;
  height: 200px;
  background-color: red;
  width: 250px;
  transition: 0.5s all;
}

.block_color button:hover {
  height: 100px;
  background-color: pink;
  cursor: pointer;
  color: red;
  font-size: 30px;
}

.block_color button:active {
  background-color: green;
  border: dotted 5px;
}

.block .block_color {
  color: blue;
}

.round {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px auto;
  height: 200px;
}

.round:hover {
  border: dotted;
}

.round .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  margin-top: 10px;
}

.round .circle:active {
  background-color: grey;
}

.round .circle:nth-child(2n) {
  background-color: blue;
}
