.container-fluid
    .text-white.bg-secondary
      .row.row-cols-4
        .col Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vero similique quisquam recusandae quia dolores
        .col Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vero similique quisquam recusandae quia dolores
        .col Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vero similique quisquam recusandae quia dolores
        .col Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vero similique quisquam recusandae quia dolores