body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* page1 */
.container {
  margin-top: 20px;
}

/* footer */
#navbarToggleExternalContent {
  margin-top: 20px;
}

/* Pagination НЕ ПАШЕТ*/
.aria-label {
  /* margin: 200px;  */
}

/* .figure {
  width: 100px;
  height: 100px;
} */
