<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="css/style.css">
</head>


<body>

    <h1>О нас</h1>

    <p>О нас!!!</p>

    <a href="https://yandex.ru/">Яндекс ссылка</a>

    <h2>Что то</h2>

    <p id="elem">text</p>
    <input id="button" type="submit">

    <script src="js/script.js"></script>

</body>

</html>