<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/exp/views/public/css/style.css">
</head>
</head>

<body>
    {{!-- <p style="color: blue;">Телефон:</p> --}}
    <p class="test">Цвет Цвет </p>
    <p>Цвет Цвет </p>
</body>
<html>