footer {
    color: red;
    font: bold 20px Arial;
}

a {
    color: darkgreen;
    text-decoration: none;
    font: bold 16px Arial;
}

img {
    width: 400px;
    height: 255px;
    /* border: 2px solid red; */
}

/* a.active {
    color: darkorange;
} */