extends layout
block content 
  //Bootstrap gutters Row columns gutters
  .container
  .row.row-cols-2.row-cols-lg-5.g-2.g-lg-3
    .col
      .p-3.border.bg-light Row column
       figure.figure
          img.figure-img.img-fluid.rounded(src='images/1.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light Row column
       <figure class="figure">
        <img src="images/2.png" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    .col
      .p-3.border.bg-light Row column
        figure.figure
          img.figure-img.img-fluid.rounded(src='images/3.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light Row column
        figure.figure
          img.figure-img.img-fluid.rounded(src='images/4.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light 
        figure.figure
          img.figure-img.img-fluid.rounded(src='images/5.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light Row column
        figure.figure
          img.figure-img.img-fluid.rounded(src='images/6.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light Row column
        figure.figure
          img.figure-img.img-fluid.rounded(src='images/7.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light Row column
        figure.figure
          img.figure-img.img-fluid.rounded(src='images/8.png', alt='...')
          figcaption.figure-caption A caption for the above image.
    .col
      .p-3.border.bg-light Row column
    .col
      .p-3.border.bg-light Row column
    .col
      .p-3.border.bg-light Row column
    .col
      .p-3.border.bg-light Row column
    .col
      .p-3.border.bg-light Row column
    .col
      .p-3.border.bg-light Row column
    .col
      .p-3.border.bg-light Row column
     
    script(src='javascripts/script.js')
    
